@font-face {
    font-family: f1-reg;
    src: url(fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: f1-black;
    src: url(fonts/Formula1-Black.ttf);
}

body {
    font-family: f1-reg;
    background-color: RGB(225, 6, 0);
}

main {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

header, h2, thead {
    font-family: f1-black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 20% 0 20%;
    font-size: 20px;
}

nav a {
    padding: 10px;
}

.selected-page {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: RGB(225, 6, 0);
}


.nextRaceContainer {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
}

.nextRace > * {
    margin: 8px;
    font-size: 16px;
}

.nextRace h2 {
    font-size: 36px;
}

.weekend-schedule > * {
    margin: 8px;
}

.hidden {
    display: none;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    padding: 0 10px 20px 10px;
}

.race {
    padding: 8px;
    border-radius: 8px;
    border-left: 2px solid RGB(225, 6, 0);
    border-top: 2px solid RGB(225, 6, 0);
}

.race h3 {
    font-weight: 700;
}

.race > date, p {
    font-size: 12px;
}

.pastRace {
    background-color: rgb(169, 169, 169);
}

.main-standings {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 40px auto;
    column-gap: 36px;
}

form {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    padding: 12px;
}

.driver-info-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 350px auto;
}

.driver-image {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.driver-info {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
}

.driver-info h2 {
    padding: 8px;
    font-size: 20px;
}

.driver-info table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-align: left;
}

.driver-info table td {
    padding: 6px;
}

.results-container {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

table {
    table-layout: fixed;
    border: 2px solid black;
    border-radius: 8px;
    border-collapse: inherit;
    text-align: center;
}

th {
    padding: 8px;
}

td {
    padding: 2px 8px;
}

tr {
    border: 2px solid black;
}

tbody {
    border: 2px solid black;
}

.race-table, .sprint-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.race-table th {
    padding: 4px;
    font-size: 14px;
}

.sprint-table th {
    padding: 4px;
    font-size: 14px;
}

.race-table,
.sprint-table td {
    width: auto;
    font-size: 12px;
}



.standings-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    padding: 12px;
}

.driver-standings-table {
    display: inline-block;
}

.constructor-standings-table {
    display: inline-block;
    vertical-align: top;
}

.driver-standings-table,
.constructor-standings-table {
    margin: 8px;
}

.standings-logo {
    width: 20px;
}

.main-404 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-404 a {
    color: RGB(225, 6, 0);
}

.main-404 a:hover {
    color: black;
}

.main-404 h1 {
    font-family: f1-black;
    font-size: 58px;
}

.main-404 p {
    font-size: 30px;
}

@media (max-width: 900px) {
    .calendar {
        grid-template-columns: repeat(2, 1fr);
    }

    .driver-info-container {
        grid-template-columns: auto;
        grid-template-rows: 350px auto auto;
    }

    .results-container {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
}

@media (max-width: 500px) {
    .calendar {
        grid-template-columns: 1fr;
    }

    .selected-page {
        display: none;
    }

    .driver-standings-table,
    .constructor-standings-table {
        font-size: 12px;
    }

    .driver-image {
        max-width: 80%;
    }

    .driver-info-container {
        grid-template-rows: auto auto auto;
    }
}

@media (max-width: 1100px) {
    .main-standings {
        grid-template-columns: 1fr;
        grid-template-rows: 40px auto auto;
    }

    .standings-container {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .standings-container {
        flex-flow: column;
    }

    .driver-standings-table, .constructor-standings-table {
        margin-left: auto;
        margin-right: auto;
    }
}