.hidden {
    display: none;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
}

.pastRace {
    background-color: gray;
}

.driver-image {
    width: 350px;
}
